@model AcreditacionesBackend.Models.Work

@{
    ViewBag.Title = "Eliminar Trabajo";
}

<h2>Eliminar Trabajo</h2>

<h3>¿Confirma que desea eliminar este trabajo?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Html.Raw(Model.Title)
        </dd>

        <dt>
            Cuerpo
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar y volver", "Index")
        </div>
    }
</div>
